<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">You are not qualified</h4>
      </div>
      <div class="modal-body">
        <p>Unfortunately you don't qualify for a Kabbage loan at this time.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" name="close" value="close" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>