<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">You are not qualified</h4>
      </div>
      <div class="modal-body">
        <p>Sorry, you are not qualified</p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" name="close" value="close">Close</button>
      </div>
    </div>
  </div>
</div>