<!-- <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/prequalify">Kabbage Pre-Qualify</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#/prequalify"><span>Menu</span></a></li>
  </ul>

</nav> -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/prequalify">Kabbage Pre-Qualify</a>
    </div>

  </div><!-- /.container-fluid -->
</nav>


